button{
	display: block;
}

.hover{
	cursor: pointer;
}


/*Подключение шрифта*/
@font-face {
font-family: "BebasNeue"; 
src: url("fonts/BebasNeue.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "OpenSans"; 
src: url("fonts/OpenSans.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}  
/*Подключение шрифта*/




/*Стилизация Поиска*/
#search{
	float: left;
	padding: 20px 15px 15px 40px;
}

.searchbox{
	max-width: 400px;
	position: relative;	
}

.searchbox input{
	float: left;
	width: 100%;
	height: 30px;
	border: 1px solid #E1E1E1;
	border-right-style: none;		
}

.searchbox .input{
	width: 100%;
	background: #ffffff;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.searchbox .submit{
	border: 1px solid #E1E1E1;
	border-left-style: none;
	height: 30px;
	position: absolute;
    width: 10%;
    cursor: pointer;
    background: url(image/shape-1.png) center no-repeat;
    background-size: 60% 70%;
 }

 #header form input{
 	color: #a1a1a1;
 	font-family: "OpenSans";
	font-size: 17px;
	font-weight: 400;
 }
/*Стилизация Поиска*/




/*Стилизация Лого и Суммы*/
#logo{
	text-align: center;
	padding: 15px;
}

#cart{
	text-align: center;
	float: right;
	padding: 15px 15px 0px 15px;
}

#cart h3 {
	font-family: "BebasNeue";
    margin: 3px;
    font-size: 33px;
	font-weight: 400;
	float: right;
    padding-left: 10px;
    color: #a1a1a1;
}    
/*Стилизация Лого Поиска и Суммы*/




/*Стилизация панели навигации*/
#nav{
	margin: 0;
	background: #4ccfc1;
	border: none;
	border-radius: inherit;
}

#nav ul li a{
	font-family: "BebasNeue";
	font-size: 18px;
	font-weight: 400;
	color: white;
}

#nav ul li a:hover{
	background: #3bead836;
}
/*Стилизация панели навигации*/




/*Стилизация банера*/
#banner{
	background: #37c7ba;
}


#bannerImg{
    text-align: center;
	padding: 40px 0px 40px 20px;
}

#bannerText h1{
	margin: 40px 0px 0px 0px;
	color: #ffffff;
	font-family: "BebasNeue";
	font-size: 61px;
	font-weight: 400;
}

#bannerText p{
	margin: 0px 0px 10px 0px;
	color: #ffffff;
	font-family: "OpenSans";
	font-size: 17px;
	font-weight: 400;
}

#bannerText button{
	margin-top: 30px;
	padding: 5px 15px;
	border-radius: 5px;
	border: 3px solid #ffffff;
	background: #37c7ba;
	color: #ffffff;
	font-family: "BebasNeue";
	font-size: 27px;
	font-weight: 400;
}

#radio{
	clear: both;
	text-align: center;
}

#radioBorder {
    padding-bottom: 20px;
}
/*Стилизация банера*/




/*Стилизация категорий*/
.pBorder{
    border: 1px solid #dbdbdb85;
    width: 100%;
    float: left;
    padding: 5px;
}

.product{
	padding: 5px;
}

.product button{
	margin-left: 15px;
}	

.categoriesText{
    float: left;
}

.categoriesImg{
    width: 132px;
    float: left;
}

.product h3, #sale h3{
	margin: 15px 0px 0px 15px;
	color: #afafaf;
	font-family: "BebasNeue";
	font-size: 23px;
	font-weight: 400;
	width: 100%
}

#categories button, #sale button{
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	background: #3cc395;
	color: #ffffff;
	font-family: "BebasNeue";
	font-size: 19px;
	font-weight: 400;
}
/*Стилизация категорий*/



/*Стилизация  продажи продукта*/
#headerProduct{
	background: #39c5b7;
}

#featuredProduct h1{
	color: #ffffff;
	font-family: "BebasNeue";
	font-size: 31px;
	font-weight: 400;
}

.sBorder{
    border: 1px solid #dbdbdb85;
    padding: 45px;
    box-shadow: 0px 6px 5px -2px rgba(60,195,149,1);
}

.productSale{
	text-align: center;
	padding: 10px;
}

#sale button{
	display: inline;
	margin: 0px 5px;
}

#sale{
    padding-bottom: 60px;
}

#sale img {
    width: 80%;
}
/*Стилизация продукта*/




/*Стилизация Footer*/
#footer{
	background: #3cc3b5;
}

#footer h3{
	color: #ffffff;
	font-family: "BebasNeue";
	font-size: 27px;
	font-weight: 400;
	padding-left: 40px;

}

#footer ul li a{
	color: #ffffff;
	font-family: "OpenSans";
	font-size: 15px;
	font-weight: 400;
}

#footer ul li{
	list-style-type: none;
}
/*Стилизация Footer*/




/*Стилизация Product by*/
#productBy{
	background: #2da89b;
}

#productBy h3{
	color: #ffffff;
	font-family: "OpenSans";
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
/*Стилизация Product by*/




/*Адаптация*/
@media(max-width: 992px){
		#nav ul li a {
		    font-size: 15px;
	}
}

@media(max-width: 770px){
		#bannerImg {
	    padding: 20px 0px 0px 0px;
	}
	
		#bannerText h1 {
	    margin: 0px;
	}
}

@media(max-width: 768px){
		#nav ul li a {
	    	font-size: 20px;
	    	text-align: center;
	}
		.navbar-toggle {
			z-index: 10;
    		position: absolute;
    		top: 0;
    		right: 0;
	}
}

@media(max-width: 518px){
		.product {
			clear: both;
		    margin: 0 auto;
		    width: 75%;
		    float: none;	
		}

		#sale {
		    padding-bottom: 25px;
		}

		.productSale{
			width: 75%;
    		margin: 0 auto;
    		float: none;
		}

		.pBorder {
    		margin: 5px;	
		}
}		

@media(max-width: 410px){
		.footerList {
		    margin: auto;
		    width: 60%;
		    float: none;
	}
}

@media (max-width: 390px){
		.product {
		    width: 90%;
		}

		.productSale{
			width: 100%;
    	}
    	#sale img {
    		width: 100%;
		}

    	.footerList {
		    width: 100%;
		}
}
/*Адаптация*/









